<div>

<table>
	<tr>
		<th> Kaffesort </th>
		<th> Rating </th>
		</tr>
		<tr>
			<td> Mocca </td>
			<td> 5 </td>
		</tr>
		<tr>
			<td> Capuccino </td>
			<td> 5 </td>
		</tr>
		<tr>
			<td> Svart </td>
			<td> 0 </td>
		</tr>
</table>
<div>
	Lägg till en kaffesort <br />
	<input
		[(ngModel)]="newCoffee"
		placeholder="Ny sort" /> <br />
	<input
	 	[(ngModel)]="newRating"
		placeholder="Rating"  /> <br />
	<button>Lägg till</button>
</div>
<div>
	Du kommer att lägga till: {{ newCoffee }}
</div>

</div>
